@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.notification-badge{
  position: absolute;
  right: 10%;
  bottom: 60%;
}